<div class="wizard-container">
  <div class="wizard-content column-one">
    <div class="wizard-details">
      <h3>House of Representatives</h3>

      <p class="title">Select type of Booking</p>
      <div class="description">
        <div class="schedule-selection">
          <i class="fa-solid fa-location-dot"></i> All - Admission to both museum and library archive
        </div>
        <div class="schedule-selection">
          <i class="fa-regular fa-clock"></i> March 30, 2025 (Tuesday) - 5:30 PM
        </div>
      </div>
    </div>
  </div>
  <div class="wizard-content column-two">
    <div class="wizard-details">
      <h4>Visitor Details</h4>
      <div class="description overflow step-4">
        <p class="detail-field">Last Name</p>
        <p class="detail-value">Dela Cruz</p>

        <p class="detail-field">First Name</p>
        <p class="detail-value">Juan</p>

        <p class="detail-field">Middle Name</p>
        <p class="detail-value">Cecilio</p>

        <p class="detail-field">Status</p>
        <p class="detail-value">Single</p>

        <p class="detail-field">Age Range</p>
        <p class="detail-value">Adult</p>

        <p class="detail-field">PWD (Person with Disability)?</p>
        <p class="detail-value">No</p>

        <p class="detail-field">House Employee?</p>
        <p class="detail-value">Yes. House Leader</p>

        <p class="detail-field">Mode of Transportation</p>
        <p class="detail-value">Bus</p>
        
      </div>
    </div>
  </div>
  <div class="wizard-content column-threee">
    <div class="wizard-details">
      <h4>Thank you for booking your visit with us</h4>
      <div class="description">
        <p class="consent">
          By providing your email address or mobile number, you acknowledge and agree that it will be used strictly for confirmation purposes related to your request. Any changes in schedule will also be communicated through the contact details you provide. Rest assured, your information will not be shared with any third parties and will be kept confidential in accordance with our <a href="#">privacy policy</a>.
        </p>
        <form [formGroup]="form" class="form">
            <div>
              <p-iftalabel>
                <input pInputText formControlName="email" autocomplete="off" />
                <label>Email address</label>
              </p-iftalabel>
            </div>
            <div class="or">
              -------------------------- or --------------------------
            </div>
            <div>
              <p-iftalabel>
                <input pInputText formControlName="mobileNo" autocomplete="off" />
                <label>Mobile number</label>
              </p-iftalabel>
              <p class="small">(Enter your country code + remaining mobile numbers)<br />example: +63</p>
            </div>
          </form>
      </div>
    </div>
  </div>
</div>