@use 'base/media-queries';

:host {
  .header {
    background-color: var(--primitive-gray);

    .logo {
      text-align: center;
      padding: 10px 0;

      img {
        width: 120px;
        height: 120px;
        padding: 10px;
      }

      p {
        color: #4b5563;
        font-family: var(--timesnewroman-font);
        font-size: 32px;
        line-height: 40px;
      }

      .italic {
        font-style: italic;
      }
    }

    .bottom-blue {
      background-color: var(--primitive-blue);
      height: 10px;
    }

    .bottom-red {
      background-color: var(--primitive-red);
      height: 10px;
    }
  }
}
