@font-face {
    font-family: 'Roboto';
    src: url('roboto/Roboto-Regular.woff2') format('woff2'),
        url('roboto/Roboto-Regular.woff') format('woff'),
        url('roboto/Roboto-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Proxima Nova BlackIt';
    src: url('proxima-nova/ProximaNova-BlackIt.woff2') format('woff2'),
        url('proxima-nova/ProximaNova-BlackIt.woff') format('woff'),
        url('proxima-nova/ProximaNova-BlackIt.ttf') format('truetype');
    font-weight: 900;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Proxima Nova Black';
    src: url('proxima-nova/ProximaNova-Black.woff2') format('woff2'),
        url('proxima-nova/ProximaNova-Black.woff') format('woff'),
        url('proxima-nova/ProximaNova-Black.ttf') format('truetype');
    font-weight: 900;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Proxima Nova Black1';
    src: url('proxima-nova/ProximaNova-Black_1.woff2') format('woff2'),
        url('proxima-nova/ProximaNova-Black_1.woff') format('woff'),
        url('proxima-nova/ProximaNova-Black_1.ttf') format('truetype');
    font-weight: 900;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Proxima Nova XB';
    src: url('proxima-nova/ProximaNova-ExtraBold.woff') format('woff'),
        url('proxima-nova/ProximaNova-ExtraBold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Proxima Nova Rg';
    src: url('proxima-nova/ProximaNova-Regular.woff2') format('woff2'),
        url('proxima-nova/ProximaNova-Regular.woff') format('woff'),
        url('proxima-nova/ProximaNova-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Proxima Nova Lt';
    src: url('proxima-nova/ProximaNova-Light.woff2') format('woff2'),
        url('proxima-nova/ProximaNova-Light.woff') format('woff'),
        url('proxima-nova/ProximaNova-Light.ttf') format('truetype');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Proxima Nova Bold';
    src: url('proxima-nova/ProximaNova-Bold.woff2') format('woff2'),
        url('proxima-nova/ProximaNova-Bold.woff') format('woff'),
        url('proxima-nova/ProximaNova-Bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Proxima Nova BoldIt';
    src: url('proxima-nova/ProximaNova-BoldIt.woff2') format('woff2'),
        url('proxima-nova/ProximaNova-BoldIt.woff') format('woff'),
        url('proxima-nova/ProximaNova-BoldIt.ttf') format('truetype');
    font-weight: bold;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Lexend Deca Light';
    src: url('lexend-deca/LexendDeca-Light.woff2') format('woff2'),
        url('lexend-deca/LexendDeca-Light.woff') format('woff'),
        url('lexend-deca/LexendDeca-Light.ttf') format('truetype');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Lexend Deca Regular';
    src: url('lexend-deca/LexendDeca-Regular.woff2') format('woff2'),
        url('lexend-deca/LexendDeca-Regular.woff') format('woff'),
        url('lexend-deca/LexendDeca-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}