<ng-container>
  <h1>Registration</h1>
  <div class="stepper" [class]="stepperClass">
    @for (step of steps; track step.id) {
      <div
        class="step"
        [class.active]="step.id === activeStep"
        [class.clickable]="step.id < activeStep"
        (click)="handleStepperClick(step)"
      >
        <div class="step-container">
          <div class="step-content">
            <span class="step-no">{{ step.id }}</span>
          </div>
          <div class="step-content details">
            <span class="step-title">{{ step.title }}</span>
            <p class="step-description">{{ step.description }}</p>
          </div>
        </div>
        
      </div>
    }
  </div>
  
  <div class="wizard">
    <div class="wizard-step">
      <div class="wizard-step-container">
        <ng-template formWizardStep></ng-template>
      </div>
    </div>
    <div class="wizard-action">
      @if (!isFirstStep) {
        <button
          class="wizard-action-btn prev-btn"
          (click)="goToPrevStep()">
          {{ prevActionBtnLabel }}
        </button>
      }
      
      @if (!isLastStep) {
        <button
          class="wizard-action-btn next-btn"
          [disabled]="!activeStepInfo.dataValidated"
          (click)="goToNextStep()">
          {{ nextActionBtnLabel }}
        </button>
      }
      
      @if (isLastStep) {
        <button
          class="wizard-action-btn finish-btn"
          (click)="finishWizard()">
          {{ finishActionBtnLabel }}
        </button>
      }
      
      <!-- <button
        class="wizard-action-btn cancel-btn"
        (click)="cancelWizard()">
        {{ cancelActionBtnLabel }}
      </button> -->
    </div>
  </div>
</ng-container>
