<div class="wizard-container">
  <div class="wizard-content column-one">
    <div class="wizard-details">
      <h3>House of Representatives</h3>

      <p class="title">Select type of Booking</p>
      <div class="description">
        <div class="schedule-selection">
          <i class="fa-solid fa-location-dot"></i> All - Admission to both museum and library archive
        </div>
        <div class="schedule-selection">
          <i class="fa-regular fa-clock"></i> March 30, 2025 (Tuesday) - 5:30 PM
        </div>
      </div>
    </div>
  </div>
  <div class="wizard-content column-two">
    <div class="wizard-details">
      <div class="description overflow">
        <form [formGroup]="form" class="form">
          <p-accordion value="0">
            <p-accordion-panel value="0">
              <p-accordion-header>Visitors Details</p-accordion-header>
              <p-accordion-content>
                <p-iftalabel>
                  <input pInputText formControlName="lastName" autocomplete="off" />
                  <label>Last Name</label>
                </p-iftalabel>

                <p-iftalabel>
                  <input pInputText formControlName="firstName" autocomplete="off" />
                  <label>First Name</label>
                </p-iftalabel>

                <p-iftalabel>
                  <input pInputText formControlName="middleName" autocomplete="off" />
                  <label>Middle Name</label>
                </p-iftalabel>

                <p-iftalabel>
                  <p-select
                    [formControlName]="'status'"
                    [options]="maritalStatus"
                    optionLabel="name"
                    styleClass="w-full"
                  />
                  <label>Status</label>
                </p-iftalabel>

                <p-iftalabel>
                  <p-select
                    [formControlName]="'ageRange'"
                    [options]="ageRange"
                    optionLabel="name"
                    styleClass="w-full"
                  />
                  <label>Age Range</label>
                </p-iftalabel>

                <div class="checkboxes">
                  <p-checkbox value="yes" />
                  <label class="ml-2">PWD? (Person with Disability)</label>
                </div>
                <div class="checkboxes">
                  <p-checkbox value="yes"  />
                  <label class="ml-2">Are you a House Employee?</label>
                </div>
              </p-accordion-content>
            </p-accordion-panel>
            <!-- <p-accordion-panel value="1">
              <p-accordion-header>Other Details</p-accordion-header>
              <p-accordion-content>
                  
              </p-accordion-content>
            </p-accordion-panel> -->
          </p-accordion>
        </form>
        
      </div>
    </div>
  </div>
  <div class="wizard-content column-threee">
    <div class="wizard-details">
      <h4>Identification</h4>
      <div class="description">
        <p>Secure your spot and verify your identity--upload a valid ID to proceed with your museum visit registration</p>
        <div class="id-upload">
          <p-fileupload mode="basic" name="demo[]" chooseIcon="pi pi-upload" url="#" accept=".jpg, .jpeg, .png" maxFileSize="1000000" (onUpload)="onBasicUploadAuto()" [auto]="true" chooseLabel="Click to Upload ID" />
        </div>
        <p><a href="">Download the Excel template here</a>, fill out, and upload your group list below</p>
        <div class="template-upload">
          <p-fileupload mode="basic" name="demo[]" chooseIcon="pi pi-upload" url="#" accept=".csv" maxFileSize="1000000" (onUpload)="onBasicUploadAuto()" [auto]="true" chooseLabel="Click to Upload Template" />
        </div>
        <p class="uploading-consent">
          By uploading your valid ID, you agree that your information will be used only for identity verification. We handle all data with strict confidentiality and in compliance with the Philippine Data Privacy Act of 2012. For more details, please review our <a href="#">Privacy Policy</a>.
        </p>
      </div>
    </div>
  </div>
</div>