.description {
    margin-bottom: 20px;
}

.time-slots {
    color: #FF7C18;

    div {
        font-family: var(--lexend-deca-reg-font);
        border: 1px solid #FF7C18;
        margin-bottom: 10px;
        border-radius: 5px;
        padding: 15px;
    }
}