@use 'base/media-queries' as mq;

:host {
  margin-top: auto;

  .footer-container {
    position: relative;
    justify-content: center;
    text-align: center;
    padding: var(--layout-padding);
    background-color: var(--primitive-full-white400);
  }
}
