/*
   ============================================================
   ⚠️ Primitive Colors ⚠️
   ============================================================
   STRICTLY FORBIDDEN: DO NOT use these color variables anywhere else in the application.
   These are **ONLY** for the color themes (_themes.scss). Any other usage will cause inconsistency
   and break the design system.
   ============================================================
*/

// Using OKLCH color space for better color reproduction on P3 displays, as well as better human-readability
// https://developer.mozilla.org/en-US/docs/Web/CSS/color_value/oklch
@mixin primitive-colors() {

  // Base
  --primitive-gray: oklch(0.9284 0.006 273.19);
  --primitive-blue: oklch(0.3963 0.1867 262.49);
  --primitive-red: oklch(0.5415 0.2125 24.9);
  --primitive-light-blue: oklch(0.6512 0.191 252.78); // #1890FF;
  --primitive-black-1: oklch(0.2178 0 0); // #1A1A1A;
  --primitive-black-2: oklch(0.5452 0 0); // #707070;
  
  // Full
  --primitive-full-white: white;
  --primitive-full-black: black;
  --primitive-full-white400: oklch(0.9702 0 89.88);

}
